<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <style>
        * {
            margin: 0;
            padding: 0
        }
        body{
            max-width:640px;
            margin:auto;
        }

        .sd_jh_ddff {
            height: 230px;
            background: #DE3616;
            padding-top: 10px;
            border-radius: 0px 0px 50% 50%/0 0px 20% 20%
        }

        .cf {
            color: #fff
        }

        .cen {
            text-align: center;
        }

        .fz18 {
            font-size: 18px;
        }

        .fz12 {
            font-size: 12px;
        }

        .fz14 {
            font-size: 14px;
        }

        .pl10 {
            padding-left: 10px;
        }

        .sd_jh_der {
            font-size: 18px;
        }

        .mt10 {
            margin-top: 10px;
        }

        .pt10 {
            padding-top: 10px;
        }

        .sd_jh_drt {
            height: 370px;
            background: #FD4729
        }

        .dsf_dfd_drt {
            margin-top: 60px;
            padding-left: 20px;

        }

        .user_ioncd {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .fl {
            float: left
        }

        .ov {
            overflow: hidden
        }

        .qc {
            clear: both
        }
        .pr{
            position: relative;
        }
        .sd_jh_dert {
            width: 60%
        }

        .df_jh_der {
            padding-top: 10px;
        }

        .sdf_dert {
            font-size: 24px;
            height: 50px;
            line-height: 50px;
        }
        .sd_derttxdr{
            width: 100px;
            font-size: 12px;
            position: absolute;
            left: 0px;
            right: 0px;
            text-align: center;
            line-height: 1.5;
            margin: auto;
            bottom: 90px;
        }
        .sd_derttxdr img{
            width: 100%
        }
    </style>
</head>

<body>

    <section class="sd_jh_drt pr">
        <section class="sd_jh_ddff">
            <p class="cen">
                <span class="sd_jh_der cf">料码----<span class="fz12">资源变现工具</span></span>
            </p>
            <p class="cen cf fz18 mt10">
                <%=baoti%>
            </p>
        </section>

        <section class="dsf_dfd_drt">
            <section class="sd_jh_dert fl">
                <img src="<%=tupian%>" class="user_ioncd fl">
                <section class="ov cf fz14 pl10 df_jh_der">
                    <%=name%>
                </section>
                <p class="qc"></p>

            </section>
            <section class="ov cf cen sdf_dert">

                <%=jiage?jiage:"免费"%>
                <% if(jiage){   %>
                    <span class="fz12 z3" >元</span>

                <%   } %>
            </section>
            <p class="qc"></p>
        </section>

        <section class="sd_derttxdr">
            <img src="<%=qc_img%>">
            <p>长按扫码 立即获取</p>
        </section>
    </section>
</body>

</html>
